
<h1><%= title %></h1>

<% if (successMessage.length > 0 ) { %>
  <div class="success"><%= successMessage %> </div>

<% } %>

<% if (typeof user !== 'undefined') { %>
  <h1> Hello, <%= user.name %>. </h1>
<% } %>


<p><%= title %></p>

<div class="overlay-container container-fluid"></div>

    <br>

    <div class="inner">
      <table class="table table-bordered table-striped table-hover table-responsive joblog">
        <thead>
        <tr>
          <th>
            Job Number
          </th>
          <th>
            Job Name
          </th>
          <th>
            Client
          </th>
          <th>
            Job Type
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            2017190
          </td>
          <td>
            Federal Reserve of Atlanta
          </td>
          <td>
            GSA
          </td>
          <td>
            MEP Design
          </td>
        </tr>
        <tr>
          <td>
            2017191
          </td>
          <td>
            Corner Bakery - Winter Haven
          </td>
          <td>
            WHA Architects
          </td>
          <td>
            MEPF Design
          </td>
        </tr>
        <tr>
          <td>
            2017192
          </td>
          <td>
            OSII Building - KSC
          </td>
          <td>
            ECSG LLC
          </td>
          <td>
            LEED Commissioning
          </td>
        </tr>
        <tr>
          <td>
            2017193
          </td>
          <td>
            MetroZoo Hippo Chamber
          </td>
          <td>
            ELM Arch
          </td>
          <td>
            MEPF Design
          </td>
        </tr>
        <tr>
          <td>
            2017194
          </td>
          <td>
            Zappa Residence
          </td>
          <td>
            Kobi Karp Arch
          </td>
          <td>
            MEP & Structural Design
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
