
<h1><%= title %></h1>

<% if (successMessage.length > 0 ) { %>
  <div class="success"><%= successMessage %> </div>

<% } %>

<% if (typeof user !== 'undefined') { %>
  <h1> Hello, <%= user.name %>. </h1>
<% } %>


<p><%= title %></p>

<div class="overlay-container container-fluid"></div>
  <div class="inner"></div>

    <br>

    <table class="table table-bordered table-striped table-hover table-responsive">
      <thead>
      <tr>
        <th>
          [HEADER]
        </th>
        <th>
          [HEADER]
        </th>
        <th>
          [HEADER]
        </th>
        <th>
          [HEADER]
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
      </tr>
      <tr>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
      </tr>
      <tr>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
      </tr>
      <tr>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
      </tr>
      <tr>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
        <td>
          [CONTENT]
        </td>
      </tr>
    </tbody>
</table>
  </div>
