<div class="container">
  <div class="login">
  	<h1 class="login-heading">
      <strong>Welcome.</strong> Create an account.</h1>
      <form method="post">
        <span>Name: </span>
        <input type="text" name="user" placeholder="Name" required="required" class="input-txt">
          <br>
          <br>
          <span>Email: </span>
          <input type="text" name="user" placeholder="Email" required="required" class="input-txt">
            <br>
            <br>
            <span>Password: </span>
          <input type="password" name="password" placeholder="Password" required="required" class="input-txt">
          <br>
          <div class="login-footer">

            <button type="submit" class="btn btn--right">Sign Up </button>

          </div>
      </form>
  </div>
</div>
