<h2>Job Log</h2>

<div class="inner">
	<table class="table table-bordered table-striped table-hover table-responsive joblog">
		<thead>
			<tr>
				<th>
					Job Number
				</th>
				<th>
					Job Name
				</th>
				<th>
					Client
				</th>
				<th>
					Job Type
				</th>
        <!-- FROM HERE ON.....ONLY ADMINS COULD VIEW THIS -->
        if (user.role == 'admin') {
        <th>
          Job Fee
        </th>
        <th>
          Job Expenses
        </th>
        <th>
          Amt Invoiced
        </th>
        <th>
          Amt Received
        </th>
        <th>
          Est Profit
        </th>
        <th>
          %
        </th>
        }
        <!-- END OF ADMIN ZONE -->
			</tr>
		</thead>
		<tbody>
      <!-- THIS IS WHERE THE PROJECTS AUTO-POPULATE INTO THE VIEW -->
			<tr>
				<td>
					2017190
				</td>
				<td>
					Federal Reserve of Atlanta
				</td>
				<td>
					GSA
				</td>
				<td>
					MEP Design
				</td>
      <!-- FROM HERE ON.....ONLY ADMINS COULD VIEW THIS -->
      if (user.role == 'admin') {
        <td>
          $178,000.00
        </td>
        <td>
          $20,789.76
        </td>
        <td>
          $95,000.00
        </td>
        <td>
          $95,000.00
        </td>
        <td>
          $74,210.24
        </td>
        <td>
          78.11%
        </td>
        }
      <!-- END OF ADMIN ZONE -->
    </tr>
		</tbody>
	</table>
</div>
</div>
